# Peregrine WM-400 Board selection

# Copyright (c) 2019 Gerson Fernando Budke
# SPDX-License-Identifier: Apache-2.0

config BOARD_SAM4L_WM400_CAPE
	bool "Peregrine WM-400 Beagle Bone Black Cape"
	depends on SOC_PART_NUMBER_SAM4LC4B
