/*
 * Copyright (c) 2019 Gerson Fernando Budke
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <atmel/sam4lc4b.dtsi>

/ {
	model = "Atmel SAM4L WM-400 Cape Board with an Atmel SAM4LC4B SoC";
	compatible = "peregrine,sam4l_wm400_cape", "atmel,sam4lc4b", "atmel,sam4l";

	aliases {
		led0 = &red_mod_led;
		led1 = &green_mod_led;
		led2 = &blue_mod_led;
		led3 = &red_cape_led;
		sw0 = &sw0_dfu;
	};

	chosen {
		zephyr,console = &usart0;
		zephyr,shell-uart = &usart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition= &code_partition;
	};

	leds {
		compatible = "gpio-leds";
		red_mod_led: led_0 {
			gpios = <&porta 8 GPIO_ACTIVE_LOW>;
			label = "LED_0";
		};
		green_mod_led: led_1 {
			gpios = <&portb 6 GPIO_ACTIVE_LOW>;
			label = "LED_1";
		};
		blue_mod_led: led_2 {
			gpios = <&portb 7 GPIO_ACTIVE_LOW>;
			label = "LED_2";
		};
		red_cape_led: led_3 {
			gpios = <&porta 24 GPIO_ACTIVE_LOW>;
			label = "LED_3";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		sw0_dfu: button_1 {
			label = "SW0_DFU";
			gpios = <&portb 3 (GPIO_ACTIVE_LOW)>;
		};
	};
};

&refclk {
	status = "okay";
};

&pllclk {
	status = "okay";
};

&rc1m {
	status = "okay";
};

&usart0 {
	current-speed = <115200>;
	status = "okay";
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&spi0 {
        status = "okay";
        label = "SPI_RF2XX";
        cs-gpios = <&porta 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;

        rf2xx@0 {
                compatible = "atmel,rf2xx";
                reg = <0x0>;
                label = "RF2XX_0";
                spi-max-frequency = <6000000>;
                irq-gpios = <&porta 20 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
                reset-gpios = <&porta 10 GPIO_ACTIVE_LOW>;
                slptr-gpios = <&porta 9 GPIO_ACTIVE_HIGH>;
                status = "okay";
        };
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "sam-ba";
			reg = <0x000000000 0x00004000>;
		};
		code_partition: partition@4000 {
			label = "image";
			reg = <0x00004000 0x0003c000>;
		};
	};
};
