# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_SAM4L=y
CONFIG_SOC_PART_NUMBER_SAM4LC4B=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_USART_SAM=y
CONFIG_USART_SAM_PORT_0=y
CONFIG_USART_SAM_PORT_1=y
CONFIG_BOARD_SAM4L_WM400_CAPE=y
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_SOC_ATMEL_SAM4L_EXT_MAINCK=y
CONFIG_WATCHDOG=n

CONFIG_GPIO=y
CONFIG_GPIO_SAM4L=y
CONFIG_LED=y

CONFIG_SPI=y
CONFIG_SPI_SAM_PORT_0=y
CONFIG_SPI_SAM_PORT_0_PIN_CS1_PA13=y
CONFIG_SPI_SAM_PORT_0_PIN_MISO_PA21=y
CONFIG_SPI_SAM_PORT_0_PIN_MOSI_PA22=y
CONFIG_SPI_SAM_PORT_0_PIN_SCK_PA23=y

CONFIG_SHELL=y
CONFIG_DEVICE_SHELL=y
