/*
 * Copyright (c) 2020 Gerson Fernando Budke <nandojve@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		sigfox0 = &sigfox0;
	};
};

&spi1 {
	/**
	 * PA9 - eeprom		Arduino D8
	 * PB6 - s2-lp		Arduino D10
	 */
	cs-gpios = <&gpioa 9 GPIO_ACTIVE_LOW>,
		   <&gpiob 6 GPIO_ACTIVE_LOW>;

	dmas = <&dma1 3 1 0x28440 0x04>,
	       <&dma1 2 1 0x28480 0x04>;
	dma-names = "tx", "rx";

	eeprom1: eeprom@0 {
		compatible = "atmel,at25";
		reg = <0x0>;
		label = "M95640";
		size = <DT_SIZE_K(8)>;
		pagesize = <32>;
		address-width = <16>;
		timeout = <10>;
		spi-max-frequency = <7500000>;
		status = "okay";
	};

	/* STEVAL-FKI868V2 */
	sigfox0: sigfox@1 {
		compatible = "st,s2lp";
		reg = <0x1>;
		label = "sigfox_0";
		spi-max-frequency = <7500000>;

		/* D7 */
		sdn-gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;

		/* MCU gpio: in,irq line */
		dio0-gpios = <&gpioa 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		/* s2-lp: out -> nIRQ */
		dio0-function = <0x02>;

		trx-clock-frequency = <50000000>;

		status = "okay";
	};
};

&dma1 {
	status = "okay";
};
