# Copyright (c) 2021, ATL Electronics
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_GD32F403

config SOC_SERIES
	default "gd32f"

config SOC_SUB_SERIES
	string
	default "gd32f403"

config SOC_PART_NUMBER
	default "gd32f403rct6" if SOC_PART_NUMBER_GD32F403RCT6
	default "gd32f403ret6" if SOC_PART_NUMBER_GD32F403RET6
	default "gd32f403rgt6" if SOC_PART_NUMBER_GD32F403RGT6
	default "gd32f403rit6" if SOC_PART_NUMBER_GD32F403RIT6
	default "gd32f403rkt6" if SOC_PART_NUMBER_GD32F403RKT6
	default "gd32f403vch6" if SOC_PART_NUMBER_GD32F403VCH6
	default "gd32f403vct6" if SOC_PART_NUMBER_GD32F403VCT6
	default "gd32f403veh6" if SOC_PART_NUMBER_GD32F403VEH6
	default "gd32f403vet6" if SOC_PART_NUMBER_GD32F403VET6
	default "gd32f403vgh6" if SOC_PART_NUMBER_GD32F403VGH6
	default "gd32f403vgt6" if SOC_PART_NUMBER_GD32F403VGT6
	default "gd32f403vih6" if SOC_PART_NUMBER_GD32F403VIH6
	default "gd32f403vit6" if SOC_PART_NUMBER_GD32F403VIT6
	default "gd32f403vkh6" if SOC_PART_NUMBER_GD32F403VKH6
	default "gd32f403vkt6" if SOC_PART_NUMBER_GD32F403VKT6
	default "gd32f403zct6" if SOC_PART_NUMBER_GD32F403ZCT6
	default "gd32f403zet6" if SOC_PART_NUMBER_GD32F403ZET6
	default "gd32f403zgt6" if SOC_PART_NUMBER_GD32F403ZGT6
	default "gd32f403zit6" if SOC_PART_NUMBER_GD32F403ZIT6
	default "gd32f403zkt6" if SOC_PART_NUMBER_GD32F403ZKT6

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 168000000

config NUM_IRQS
	default 68

# Configure default device drivers. If a feature is supported by more than one
# device driver the default configuration will be placed in the board defconfig
# file.

config USART_GD32
	default y
	depends on SERIAL

endif   # SOC_SERIES_GD32F403
