# Copyright (c) 2021, ATL Electronics
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "GigaDevice GD32F403 MCU Selection"
	depends on SOC_SERIES_GD32F403

	config SOC_PART_NUMBER_GD32F403RCT6
		bool "GD32F403RCT6"

	config SOC_PART_NUMBER_GD32F403RET6
		bool "GD32F403RET6"

	config SOC_PART_NUMBER_GD32F403RGT6
		bool "GD32F403RGT6"

	config SOC_PART_NUMBER_GD32F403RIT6
		bool "GD32F403RIT6"

	config SOC_PART_NUMBER_GD32F403RKT6
		bool "GD32F403RKT6"

	config SOC_PART_NUMBER_GD32F403VCH6
		bool "GD32F403VCH6"

	config SOC_PART_NUMBER_GD32F403VCT6
		bool "GD32F403VCT6"

	config SOC_PART_NUMBER_GD32F403VEH6
		bool "GD32F403VEH6"

	config SOC_PART_NUMBER_GD32F403VET6
		bool "GD32F403VET6"

	config SOC_PART_NUMBER_GD32F403VGH6
		bool "GD32F403VGH6"

	config SOC_PART_NUMBER_GD32F403VGT6
		bool "GD32F403VGT6"

	config SOC_PART_NUMBER_GD32F403VIH6
		bool "GD32F403VIH6"

	config SOC_PART_NUMBER_GD32F403VIT6
		bool "GD32F403VIT6"

	config SOC_PART_NUMBER_GD32F403VKH6
		bool "GD32F403VKH6"

	config SOC_PART_NUMBER_GD32F403VKT6
		bool "GD32F403VKT6"

	config SOC_PART_NUMBER_GD32F403ZCT6
		bool "GD32F403ZCT6"

	config SOC_PART_NUMBER_GD32F403ZET6
		bool "GD32F403ZET6"

	config SOC_PART_NUMBER_GD32F403ZGT6
		bool "GD32F403ZGT6"

	config SOC_PART_NUMBER_GD32F403ZIT6
		bool "GD32F403ZIT6"

	config SOC_PART_NUMBER_GD32F403ZKT6
		bool "GD32F403ZKT6"
endchoice
