# ATL-Electronics LoRaWAN Module

# Copyright (c) 2020 Aleksandr Makarov <aleksandr.o.makarov@gmail.com>
# Copyright (c) 2020 ATL-Electronics
# SPDX-License-Identifier: Apache-2.0

config BOARD_ATL_LRWAN_MOD
	bool "ATL-Electronics LoRaWAN Module"
	depends on SOC_STM32L072XX
