# Copyright (c) 2021, ATL Electronics
# SPDX-License-Identifier: Apache-2.0

source "soc/riscv/bouffalolab/bl/Kconfig.defconfig.bl*"

# Configure default device drivers. If a feature is supported by more than one
# device driver the default configuration will be placed in the board defconfig
# file.

if SOC_SERIES_BL6

config UART_BL
	default y
	depends on SERIAL

endif   # SOC_SERIES_BL6