# Copyright (c) 2019-2020 Gerson Fernando Budke
# SPDX-License-Identifier: Apache-2.0

if BOARD_BYOND_MEGAZ0RD

config BOARD
	default "byond_megaz0rd"

if NETWORKING

config NET_L2_ETHERNET
	default y

config ETH_SAM_GMAC
	default y if NET_L2_ETHERNET

endif # NETWORKING

endif # BOARD_BYOND_MEGAZ0RD
