# Sipeed Logan Nano with GigaDevice GD32VF103CBT6
#
# Copyright (c) 2021, ATL Electronics
# SPDX-License-Identifier: Apache-2.0

config BOARD_SIPEED_LOGAN_NANO
	bool "Sipeed Logan Nano with GigaDevice GD32VF103CBT6"
	depends on SOC_PART_NUMBER_GD32VF103CBT6
