#
# Copyright (c) 2021, ATL Electronics
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_SOC_SERIES_GD32VF103=y
CONFIG_SOC_PART_NUMBER_GD32VF103CBT6=y
CONFIG_BOARD_SIPEED_LOGAN_NANO=y

# 108MHz for system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=108000000

# 27MHz for machine timer
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_RISCV_MACHINE_TIMER_CLOCK_FREQUENCY=27000000

CONFIG_RISCV_SOC_MCAUSE_EXCEPTION_MASK=0x7FF

CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_PRINTK=y
