# Copyright (c) 2020 Linaro Limited.
# SPDX-License-Identifier: Apache-2.0

if BOARD_BYOND_NRF51422_DONGLE

config BOARD
	default "Byond nrf51422 Dongle"

config I2C_0
	default y
	depends on I2C

config SPI_1
	default y
	depends on SPI

config BT_CTLR
	default BT

endif # BOARD_BYOND_NRF51422_DONGLE
